:root{
  --color-primary: #222222;
  --color-accent: #6B8E23;
  --color-border: #EAEAEA;
}
*{box-sizing:border-box}
body{
  background-color: var(--bg, #fff);
  background-image: url('/static/images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.border{border-color:var(--color-border);}
a{color:var(--color-accent);}

.font-cim {
  font-family: 'Mansalva', 'Swanky and Moo Moo', cursive;
}

.font-torzs {
  font-family: 'Lato', sans-serif;
}