.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 10px 40px;
  position: relative;
  z-index: 1000;
}

.logo {
  height: 120px;         /* nagyobb logo */
  filter: brightness(0) invert(1) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));
  position: relative;
  z-index: 1001;
}

.actions {
  display: flex;
  gap: 25px;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: brightness(0) invert(1) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));
  transition: transform 0.2s;
  z-index: 1000;
}

.icon:hover {
  transform: scale(1.1);
}

.searchWrapper {
  position: absolute;
  top: 50%;
  right: 190px;
  transform: translate(0, -50%);
  width: 0%;
  max-width: 40vw;
  overflow: hidden;
  transition: width 0.3s ease;
  filter: brightness(0) invert(1) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));
}

.open {
  width: 100%;
}

.iconContainer {
  position: relative;
  display: flex;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  color: #FFF;
  background: transparent;
  font-size: 0.75rem;
  padding: 2px 4px;
  white-space: nowrap;
}

.iconContainer:hover .tooltip {
  visibility: visible;
}