.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px 10px 40px;
}

.logo {
  height: 120px;
}

.logo svg {
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
  fill: white;
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: white;
}

.icon svg {
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
  fill: white;
}

.iconContainer {
  position: relative;
  display: flex;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  color: #000;
  background: transparent;
  font-size: 0.75rem;
  padding: 2px 4px;
  white-space: nowrap;
}

.iconContainer:hover .tooltip {
  visibility: visible;
}