.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.card:hover {
  transform: scale(1.05);
}

.name {
  font-family: 'Titan One', cursive;
  font-size: 1.0rem;
  color: #000;
}

.mood {
  font-family: 'Lato', sans-serif;
  font-size: 0.6rem;
  color: #000;
}