.wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 160px);
  gap: 0;
  max-height: 100%;
  width: 60%;
  border: 6px solid #80350E;
  background: linear-gradient(180deg, #4A2912 0%, #321B0C 80%);

  /* fontos: a háttér csak a border belsejéig érjen */
  background-clip: padding-box;

  /* csak belső árnyék (inset), két rétegben */
  box-shadow:
    inset -15px 15px 16px rgba(0,0,0,0.9), /* PPT szerinti irány belülre */
    inset 0 0 10px rgba(0,0,0,0.5);
}

.active {
  font-weight: bold;
}

.cell {
  border: 6px solid #80350E;
  background: linear-gradient(180deg, #4A2912 0%, #321B0C 80%);
  display: flex;
  align-items: center;
  justify-content: center;

  /* fontos: a háttér csak a border belsejéig érjen */
  background-clip: padding-box;

  /* csak belső árnyék (inset), két rétegben */
  box-shadow:
    inset -15px 15px 16px rgba(0,0,0,0.9), /* PPT szerinti irány belülre */
    inset 0 0 10px rgba(0,0,0,0.5);
}